* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: #faf8ef;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 100vh;
}

:root {
  overflow: hidden;
  font-family: Nunito, sans-serif;
  height: 100vh;
}

.view {
  margin: 0 auto;
  width: fit-content;
  padding: 0;
}


.stats {
  text-align: right;
  color: #ededed;
}

.container {
  margin: 0 auto;
  width: auto;
}
.container span {
  display: block;
  width: auto;
  text-align: left;
}

.view {
  position: relative;
}

.tiles {
  height: 0;
}

.tile {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0px;
  transition: 0.3s ease;
  padding: 10px;
  transition: 0.1s ease-in-out;
}

.tile-inner {
  border-radius: 10px;
  width: 87.5px;
  height: 87.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #f9f6f2;
  font-weight: 700;
  transition: 0.3s;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  
  background: #bbada0;
  width:  400px;
  height: 400px;
  border-radius: 10px;
  padding: 10px;
}
.cell {
  background: #eee4da59;
  border-radius: 10px;
}

.restart {
  background: #8f7a66;
  padding: 0 8px;
  height: 32px;
  line-height: 35px;
  display: block;
  box-sizing: border-box;
  color: #f9f6f2;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  font-family: Nunito, Roboto sans-serif;
  font-weight: 700;
}

@media (max-width: 405px) {
  .grid-container {
    width: 370px;
    height: 370px;
  }
  .tile-inner {
    width: 80px;
    height: 80px;
  }
}

.s0 .tile-inner {background: #eee4da; color: #776e65; font-size: 35px;}
.s1 .tile-inner {background: #eee1c9; color: #776e65; font-size: 35px;}
.s2 .tile-inner {background: #f3b27a; font-size: 35px;}
.s3 .tile-inner {background: #f69664; font-size: 35px;}
.s4 .tile-inner {background: #f77c5f; font-size: 35px;}
.s5 .tile-inner {background: #f75f3b; font-size: 35px;}
.s6 .tile-inner {background: #edd073; font-size: 25px;}
.s7 .tile-inner {background: #edcc62; font-size: 25px;}
.s8 .tile-inner {background: #edc950; font-size: 25px;}
.s9 .tile-inner {background: #edc53f; font-size: 15px;}
.s10 .tile-inner {
  font-size: 15px;
  background: #edc22e;
  box-shadow: 0 0 30px 10px rgb(243 215 116 / 56%), inset 0 0 0 1px rgb(255 255 255 / 33%);
}
.s-1 .tile-inner {
  font-size: 15px;
  text-shadow: 0 0 10px #00000046;
  background: #aaed2ebe;
}